:root {
  --bg-color: white;
  --font-color: rgb(69, 69, 69);
  --form-bg-color: rgb(245, 245, 245);
  --shadow-color: rgb(26, 26, 26);
  --accent-color: rgb(208, 110, 128);
  --font-reverse-color: white;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--font-color);
  
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Norse-Bold';
  src: url(./fonts/Norse-Bold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  background-color: var(--bg-color);
}

.banner-container {
  background-image: url(./images/banner-image.jpg);
  background-size: cover;
  background-position: center;
 
  height: 100vh;
  width: clamp(100px, 25%, 400px);

  box-shadow: 0 0 16px var(--shadow-color);
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

.logo-text {
  position: relative;
  top: 1vw;

  color: var(--font-reverse-color);
  font: 8vw 'Norse-Bold';
}

#logo-wrapper {
  position: relative;
  top: 64px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;

  width: 100%;
  height: 12vw;

  background-color: rgba(0, 0, 0, 0.5);
}

#logo-wrapper > img {
  height: 8vw;
  width: auto;
}

#photo-credit {
  position: fixed;
  bottom: 0;

  text-align: center;
  width: fit-content;
  font-size: 0.7rem;
  color: var(--font-reverse-color);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 4px;
}

#photo-credit > a {
  color: lightgray;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 100vh;
  width: 800px;

  padding: 16px;

  /*border: dashed;*/
}

h1 {
  font-size: 26px;
  font-weight: bold;
  line-gap-override: 1.1rem;
}

h1 > em {
  color: var(--accent-color);
}

.empty-line {
  height: 1.5rem;
}

.inputs-container {
  margin: 32px 0 16px 0;
  padding: 16px;
  
  height: 400px;
  border-radius: 16px;
  box-shadow: 0 0 16px var(--accent-color);

  background-color: var(--form-bg-color);

  /*border: dashed;*/
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button[type='submit'] {
  all: unset;

  padding: 16px 32px;

  font-size: large;
  font-weight: bold;

  color: var(--font-reverse-color);
  background-color: var(--accent-color);

  border-radius: 8px;
  box-shadow: 0 0 16px var(--shadow-color);

  transition-duration: 0.1s;
}

button:hover {
  cursor: pointer;
}

button:active {
  scale: 0.95;
  box-shadow: 0 0 12px var(--shadow-color);

  transition-duration: 0.1s;
}

.log-in {
  position: relative;
  top: 1rem;

  text-align: center;
}

.log-in > a {
  color: var(--accent-color);
}