:root {
  --bg-color: antiquewhite;
  --font-color: rgb(26, 26, 26);
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: 'Norse-Bold';
  src: url(./Norse-Bold.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-container {
  background-image: url(./banner-image.jpg);
  background-size: cover;
  background-position: center;
  
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  height: 100vh;
  width: clamp(200px, 30%, 400px);
  padding: 16px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  color: var(--bg-color);
  font: 128px 'Norse-Bold';
}

.logo-container > img {
  height: 128px;
  width: auto;
}

#photo-credit {
  text-align: center;
  width: fit-content;
  font-size: 0.5rem;
  color: var(--bg-color);
  background-color: rgba(0, 0, 0, 0.3);
  padding: 4px;
}

#photo-credit > a {
  color: var(--bg-color);
}